<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- LOCAL -->
    <property name="LOG_FOLDER" value="/usr/local/contrib/var/logs/springboot/sdoh"/>

    <appender name="appFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FOLDER}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FOLDER}/app.log.%d{yyyy-MM-dd}</fileNamePattern>

            <!-- keep 10 years of history capped at 300GB total size -->
            <maxHistory>3650</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.}:%line [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="systemFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FOLDER}/system.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FOLDER}/system.log.%d{yyyy-MM-dd}</fileNamePattern>

            <!-- keep 10 years of history capped at 300GB total size -->
            <maxHistory>3650</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.}:%line [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.EmiAdvisor" level="debug" additivity="false">
        <appender-ref ref="appFileAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="systemFileAppender" />
    </root>

</configuration>